  @import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

body{
    background-size: cover;
    text-align: center;
    position: fixed; 

}

header{
    margin-top: 141px;
    margin-left: 1215px;
    font-family:"Assistant&display" ;
    display: flex;
}
.tittle{
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}
.texto{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    font-family: "Assistant&display";
}